.welcome {
  padding: 0;
  &__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__container {
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__titles {
    position: relative;
    font-family: 'RobotoCondensed';
    color: #fff;
    padding: calc(110px + (325 - 110) * ((100vh - 568px) / (1440 - 568))) 0 0 calc(0px + (20 - 0) * ((100vh - 568px) / (1440 - 568)));
  }
  .welcome__title.anim {
    opacity: 1;
    transform: translateY(0px);
    transition: 1.7s ease opacity 2s, 1.7s ease transform 2s;
  }
  .welcome__sub-title.anim {
    opacity: 1;
    transform: translateY(0px);
    transition: 1.7s ease opacity 3s, 1.7s ease transform 3s;
  }
  &__title {
    font-weight: 700;
    font-size: calc(20px + (70 - 20) * ((100vw - 320px) / (1360 - 320)));
    margin: 0 0 20px 0;
    opacity: 0;
    transform: translateY(150%);
    transition: 0.3s ease opacity 0s, 0.3s ease transform 0s;
  }

  &__sub-title {
    font-size: calc(12px + (28 - 12) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
    letter-spacing: 2px;
    transform: translateY(140%);
    opacity: 0;
    transition: 0.3s ease opacity 0s, 0.3s ease transform 0s;
  }
}
